
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

DirectoryIndex index.php

RewriteRule ^auth$ ../../auth/ [R]
RewriteRule ^auth/$ login.php [L]

RewriteRule ^startSession$ ../../startSession/ [R]
RewriteRule ^startSession/$ dologin.php?%{QUERY_STRING} [L]

#RewriteRule ^(.*?)$ ../../$1/ [R]
#RewriteRule ^(.*?)/$ $1.php?%{QUERT_STRING} [L]